<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.a3team.com.a2teamtest">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".first"></activity>

        <activity android:name=".second"></activity>

        <activity android:name=".third"></activity>
        <activity android:name=".fourth"></activity>

        <activity android:name=".fifth"></activity>

        <activity android:name=".sixth"></activity>
        <activity android:name=".seventh"></activity>

        <activity android:name=".eighth"></activity>

        <activity android:name=".nineth"></activity>
        <activity android:name=".tenth"></activity>

        <activity android:name=".eleventh"></activity>

        <activity android:name=".twelveth"></activity>
        <activity android:name=".third2th"></activity>

        <activity android:name=".fourth2th"></activity>

        <activity android:name=".fifth2th"></activity>

    </application>

</manifest>